body {
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/61vCDg8QM9L._SX425_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: static;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 40px;
    min-height: 200px;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    border: dotted rgb(201, 103, 119) 1px;
    border-radius: 10px;
    width: 60%;
    margin: 5px auto;
    text-align: left;
    padding: 2%;
    padding-left: 2%;
}